<html lang="{{ site.lang}}">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title>{{ title}}</title>
        <meta name="description" content="{{ description }}">
        <meta name="author" content="WEBdeBS">
        <meta
        name="generator" content="eleventy"> <!-- Open Graph -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ url }}">
        <meta property="og:locale" content="en_US">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="{{ facebook_post }}">
        <meta
        property="og:image:alt" content="{{ title}} banner"> <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ twitter }}">
        <meta name="twitter:creator" content="{{ twitter }}">
        <meta name="twitter:url" content="{{ url }}">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="{{ twitter_post }}">
        <meta name="twitter:image:alt" content="{{ title}} banner">
        <link
        rel="canonical" href="{{ url }}"> <!-- Bootstrap Icons -->
        <link
        rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"> <!-- Styles -->
        <link rel="stylesheet" href="{{ '/css/main.css' }}">
    </head>
    <body>
        <main role="main" class="container py-3">
            {{ content | safe }}
        </main>
        <!-- iubenda -->
        <script type="text/javascript">
            var _iub = _iub || [];
            _iub.csConfiguration = {
                "askConsentAtCookiePolicyUpdate": true,
                "floatingPreferencesButtonDisplay": "bottom-right",
                "lang": "en",
                "perPurposeConsent": true,
                "siteId": 3033025,
                "whitelabel": false,
                "cookiePolicyId": 66583400,
                "banner": {
                    "acceptButtonDisplay": true,
                    "closeButtonDisplay": false,
                    "customizeButtonDisplay": true,
                    "explicitWithdrawal": true,
                    "listPurposes": true,
                    "position": "float-top-center",
                    "rejectButtonDisplay": true,
                    "showPurposesToggles": true
                }
            };
        </script>
        <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-HL1LEB76NZ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-HL1LEB76NZ');
        </script>
        <script src="{{ '/js/main.js' | url }}"></script>
    </body>
</html>