<html lang="{{ site.lang}}">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title>{{ title}}</title>
        <meta name="description" content="{{ description }}">
        <meta name="author" content="WEBdeBS">
        <meta
        name="generator" content="eleventy"> <!-- Open Graph -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ url }}">
        <meta property="og:locale" content="en_US">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="{{ facebook_post }}">
        <meta
        property="og:image:alt" content="{{ title}} banner"> <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{ twitter }}">
        <meta name="twitter:creator" content="{{ twitter }}">
        <meta name="twitter:url" content="{{ url }}">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="{{ twitter_post }}">
        <meta name="twitter:image:alt" content="{{ title}} banner">
        <link
        rel="canonical" href="{{ url }}"> <!-- Bootstrap Icons -->
        <link
        rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"> <!-- Styles -->
        <link rel="stylesheet" href="{{ '/css/main.css' }}">
    </head>
    <body>
        <!-- Main container -->
        <main role="main" class="container py-3">
            {{ content | safe }}
        </main>
        <script src="{{ '/js/main.js' }}"></script>
    </body>
</html>