@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

$spacer: 1rem;
$primary: #689f63;
$secondary: #9cd197;
$light: #cccccc;
$white: #e6e6e6;
$dark: #22252a;

$font-family1: "League Gothic", sans-serif;

$body-color: $light;
$h1-color: $primary;

@import "bootstrap/scss/bootstrap";

body {
  background-image: url(../assets/background_toplight.png),
    linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0)),
    url(../assets/background_tile.png);
  background-repeat: no-repeat, repeat-x, repeat;
  background-position: center top, left top, left top;
  background-size: 1200px 375px, 100px 460px, 200px 200px;
  overflow-x: hidden;
  padding-bottom: 100px;
}

%font1 {
  color: $primary;
  letter-spacing: 2;
  font-family: $font-family1;
}

ul.nav {
  .nav-item {
    a.nav-link {
      @extend %font1;
      font-size: 1em;
      padding: calc($spacer/2);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  @extend %font1;
}

h1 {
  font-size: 3rem;
}

h2 {
  color: $white;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.mt-40 {
  margin-top: 10rem;
}

h5 {
  font-variant: small-caps;
}

strong {
  color: $white;
}

a {
  font-weight: bold;
  text-decoration: none;
  :visited {
    color: $secondary;
  }
  &:hover {
    text-decoration: underline;
  }
}

* {
  font-weight: 200;
  :last-child {
    margin-bottom: 0rem;
  }
}

section {
  margin-bottom: 3rem;
}

#logo-link {
  .logo {
    margin: 5% 15%;
    flex: 1;
  }
}

.webdebs-logo {
  border-radius: 4px;
  background-color: $white;
  padding: 20px 10px;
}

#sponsor {
  [class*="col-"] > div {
    background-color: shade-color($dark, 40%);
  }
}

#map-venue {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) {
  ul.nav {
    .nav-item {
      a.nav-link {
        padding: calc($spacer * 2);
        font-size: 2em;
      }
    }
  }
  .webdebs-logo {
    transform: rotate(-15deg);
    margin-bottom: 50px;
  }
}

.price-card {
  border-radius: 1.5rem;
  height: 100%;
  ul {
    list-style-image: url(../assets/check-icon.svg);
    margin-right: 10px;

    li {
      margin: 10px 0;
      padding-left: 10px;
    }
  }
}

.grid-colum {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
  margin-bottom: 30px;
}

.conference-section {
  grid-gap: 6rem !important;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3rem;
  margin-bottom: 30px;

  blockquote{
    font-style: italic;
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, md)) {
  .grid-colum {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, lg)) {
  .conference-section {
    grid-gap: 6rem !important;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

.color-card {
  border: 1px solid;
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
  li {
    margin: 10px 0;
  }
  .title {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
}

.green {
  border-color: #689f63;
  span {
    color: #689f63;
    font-weight: 300;
  }
}

.red {
  border-color: #c23535;
  span {
    color: #c23535;
    font-weight: 300;
  }
}

.mt-24 {
  margin-top: 6rem;
}
.mb-24 {
  margin-bottom: 6rem;
}

.mt-96 {
  margin-top: 24rem;
}

.mt-0{
  margin-top: 0 !important;
}

.cfp {
  text-align: center;
  margin: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 30px;
    max-width: 500px;
  }
  a {
    text-transform: uppercase;
    padding: 0.7rem 1.5rem;
    border: 1px solid #689f63;
    border-radius: 2rem;
  }
  a:hover {
    background-color: #689f63;
    color: white;
  }
}

.btn-custom {
  text-transform: uppercase;
  padding: 0.7rem 1.5rem;
  border: 1px solid #689f63;
  border-radius: 2rem;
  background: none;
  color: #689f63;
  font-weight: 500;
  font-size: 24px;
  margin-top: 50px;
}
.btn-custom:hover {
  background-color: #689f63;
  color: white;
}

.banner {
  background-image: url(../assets/webdebs-banner.png);
  height: 120px;
  background-repeat: repeat-x;
  width: 110vw;
  position: absolute;
  left: -20px;
  transform: rotate(-5deg);
  margin: 20px 0;
  z-index: 200;
}

.mr-2{
  margin-right: 0.5rem
}

.small-col{
  max-width: 850px;
  margin: 0 auto;
}
