// @import "@webpixels/css/base";
// @import "@webpixels/css/forms";
// @import "@webpixels/css/components";
// @import "@webpixels/css/utilities";
// @import url('https://unpkg.com/reset-css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

// :root {
//   --dark: #22252A;
//   --default: #999999;
//   --light: #CCCCCC;
//   --white: #E6E6E6;
//   --accent: #689f63;
//   --accent-light: #9cd197; 
// }

$primary: #689f63;
$secondary: #9cd197; 
// $success: 
// $info: 
// $warning: 
// $danger: 
$light: #CCCCCC;
$white: #E6E6E6;
$dark: #22252A;

$body-color: #CCCCCC;

$h1-color: #689f63;

@import "bootstrap/scss/bootstrap";


body {
  background-image: url(../assets/background_toplight.png),
                    linear-gradient(rgba(0,0,0,0.12), rgba(0,0,0,0)),
                    url(../assets/background_tile.png);
  background-repeat: no-repeat, repeat-x, repeat;
  background-position: center top, left top, left top;
  background-size: 1200px 375px, 100px 460px, 200px 200px;
}

h1, h2, h3, h4, h5 {
  color: $primary;
  letter-spacing: 2;
  font-family: 'League Gothic', sans-serif;
}
h2 {
  color: $white;
}
h5 {
  font-variant: small-caps;
}

strong {
  color: $white;
}

a {
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: $secondary;
}

p:last-child {
  margin-bottom: 0rem;
}

section {
  margin-bottom: 3rem;
}

.logo {
  margin: 5% 15%;
}

.webdebs-logo {
  width: 200px;
  border-radius: 4px;
  background-color: $white;
  padding: 20px 10px;
  transform: rotate(-15deg);
}

.card {
  background-color: shade-color($dark, 10%);
}

section#follow-us a,
section#contacts a {
  text-decoration: none;
}
